* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  color: white; }

a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: white; }

a:hover {
  color: greenyellow !important; }

body {
  font-size: 1.2rem;
  min-height: 100vh;
  min-width: 100vw;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }

body:before {
  content: "";
  min-width: 100vw;
  min-height: 100vh;
  position: absolute;
  top: 0px;
  left: 0;
  background-image: linear-gradient(109.6deg, #30cfd0 11.2%, #330867 92.5%);
  z-index: -1; }

main {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: main;
  padding-top: 5rem; }

h1 {
  font-weight: 700; }

#sectionContacto {
  background-color: white;
  border-radius: 1rem; }
  #sectionContacto input {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    border: 1px solid lightsteelblue; }
  #sectionContacto form #botonContacto:hover {
    background-color: #20c997; }
  #sectionContacto form #botonContacto {
    background-color: #0d6efd;
    color: white; }

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 50px;
  right: 10px; }

#indexMainH1 {
  text-align: center;
  font-weight: bold;
  font-size: 3.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

#mainIndex {
  padding-top: 10rem; }

#quienSoy {
  text-align: center;
  font-weight: bold;
  font-size: 2rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  margin-top: 100px;
  text-decoration: none; }

#quienSoy a:hover {
  color: greenyellow; }

#FacundoPancaniH2 {
  white-space: nowrap; }

header li {
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
  list-style: none;
  display: inline;
  padding-left: 1rem; }

#logoContainerNav {
  display: flex;
  align-content: center;
  justify-content: center;
  white-space: nowrap;
  align-items: center;
  width: fit-content; }
  #logoContainerNav .logo {
    max-height: 5rem;
    max-width: 5rem;
    margin-right: 1rem; }

nav {
  z-index: 1020; }
  nav #navContacto {
    background-color: #3b7aee;
    border-radius: 50px;
    padding: 9px 25px;
    cursor: pointer; }
  nav #navContacto:hover {
    background-color: #2e5db4; }

@media only screen and (max-width: 992px) {
  header {
    width: 100%;
    margin: auto;
    max-height: 70px;
    grid-area: header;
    padding: 0; }
  header ul {
    /* border: grey solid 2px; */
    color: black;
    width: fit-content;
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    list-style: none;
    display: inline;
    margin-top: 1rem;
    padding: 0; }
  .headerItems li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: none;
    margin: 0.5rem;
    align-items: center;
    font-size: 0.8rem;
    justify-content: center;
    text-align: center; }
  .headerItems ul {
    display: flex;
    flex-wrap: nowrap; }
  .headerItems {
    padding: 0;
    align-self: center; }
  .headerDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding-top: 1rem;
    padding: 0; }
  .logoContainer h1 {
    display: none; }
  #ulNavbar {
    background-image: linear-gradient(200deg, rgba(48, 207, 208, 0.85) 11.2%, rgba(51, 8, 103, 0.9) 90%);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); }
  #navContacto {
    background-color: rgba(59, 122, 238, 0);
    border-radius: 0;
    padding: initial;
    cursor: pointer; }
  #navContacto:hover {
    background-color: #2e5db4; } }

@media only screen and (max-width: 426px) {
  header {
    width: 100%;
    margin: auto;
    max-height: 70px;
    grid-area: header; }
  .headerItems li a {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    border: none;
    margin: 0.4rem;
    align-items: center;
    font-size: 0.6em;
    justify-content: center;
    text-align: center; }
  .headerItems ul {
    display: flex;
    flex-wrap: nowrap; }
  .headerItems {
    padding: 0;
    align-self: center; }
  .headerDiv {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto;
    padding-top: 1rem;
    padding: 0; }
  .logoContainer h1 {
    display: none; }
  #FacundoPancaniH2 {
    display: none; }
  .logo {
    display: flex;
    justify-self: center; } }

footer {
  position: absolute;
  bottom: 0;
  width: 100vw;
  display: flex;
  justify-content: flex-end;
  grid-area: footer;
  align-self: flex-end; }
  footer li {
    list-style: none;
    padding-left: 1.5rem;
    display: inline; }
  footer ul {
    margin: 0 2rem; }
  footer i {
    margin-right: 4px; }

.mainDivGaleria {
  max-width: 70vw; }

.mainDivGaleria img {
  max-width: 30vw; }
