* {
  margin: 0;
  padding: 0;
  font-family: "Titillium Web", sans-serif;
  color: white; }

a {
  text-decoration: none;
  transition: all 0.3s ease 0s;
  color: white; }

a:hover {
  color: greenyellow !important; }

body {
  position: relative;
  max-width: 100vw;
  min-height: 100vh;
  padding-bottom: 5rem;
  font-size: 1.2rem;
  background-image: linear-gradient(109.6deg, #30cfd0 11.2%, #330867 92.5%);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  overflow-y: scroll; }

main {
  padding-top: 2.5rem;
  padding-bottom: 5rem; }

h1 {
  font-weight: 700; }

hr {
  width: auto; }

@media only screen and (max-width: 426px) {
  main {
    padding-top: 2rem; } }

.btn {
  background-color: #3b7aee;
  border-radius: 50px;
  padding: 9px 25px;
  cursor: pointer; }

#sectionContacto {
  background-color: white;
  border-radius: 1rem; }
  #sectionContacto input {
    font-family: inherit;
    font-size: 1rem;
    padding: 0.5em 1em;
    border-radius: 0.3em;
    border: none;
    border: 1px solid lightsteelblue; }
  #sectionContacto form #botonContacto:hover {
    background-color: #012e70; }
  #sectionContacto form #botonContacto {
    background-color: #0d6efd;
    color: white; }

.botonWhatsApp img {
  width: 70px;
  position: fixed;
  bottom: 50px;
  right: 10px; }

@media only screen and (max-width: 992px) {
  #sectionContacto {
    background-color: white;
    border-radius: 1rem;
    width: 80% !important; } }

#mainIndex {
  padding-top: 10rem; }
  #mainIndex .mainItemsDiv {
    padding-bottom: 10rem; }
    #mainIndex .mainItemsDiv #indexMainH1 {
      text-align: center;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      position: relative; }
    #mainIndex .mainItemsDiv #quienSoy {
      text-align: center;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-top: 5rem;
      text-decoration: none; }
      #mainIndex .mainItemsDiv #quienSoy a:hover {
        color: greenyellow; }
      #mainIndex .mainItemsDiv #quienSoy a {
        text-shadow: 3rem; }

@media only screen and (max-width: 992px) {
  #mainIndex {
    padding-top: 7.5rem; } }

header {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 1rem; }
  header #logoContainerNav {
    display: flex;
    align-content: center;
    justify-content: start;
    white-space: nowrap;
    align-items: center;
    width: fit-content; }
    header #logoContainerNav .logo {
      max-height: 5rem;
      max-width: 5rem;
      margin-right: 1rem; }
    header #logoContainerNav #FacundoPancaniH2 {
      white-space: nowrap; }
  header li {
    text-decoration: none;
    border-radius: 3px;
    font-weight: bold;
    list-style: none;
    display: inline;
    padding-left: 1rem; }
  header nav {
    z-index: 1020; }
    header nav #navContacto {
      background-color: #3b7aee;
      border-radius: 50px;
      padding: 9px 25px;
      cursor: pointer; }
    header nav #navContacto:hover {
      background-color: #2e5db4; }

@media only screen and (max-width: 992px) {
  header {
    width: 100%;
    margin: auto;
    max-height: 70px;
    grid-area: header;
    padding: 0; }
    header ul {
      color: black;
      text-decoration: none;
      border-radius: 3px;
      font-weight: bold;
      list-style: none;
      display: inline;
      margin-top: 1rem;
      padding: 0; }
    header nav #navContacto {
      background-color: transparent;
      border-radius: 0;
      padding: 8px 0px;
      cursor: pointer; }
    header nav #navContacto:hover {
      background-color: transparent; }
    header nav #ulNavbar {
      background-image: linear-gradient(200deg, rgba(48, 207, 208, 0.85) 11.2%, rgba(51, 8, 103, 0.9) 90%);
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15); } }

@media only screen and (max-width: 430px) {
  header {
    width: 100%;
    margin: auto;
    max-height: 70px; }
  #logoContainerNav {
    display: flex;
    align-content: center;
    justify-content: space-between;
    white-space: nowrap;
    align-items: center;
    width: fit-content; }
    #logoContainerNav .logo {
      max-height: 5rem;
      max-width: 5rem;
      padding-left: 1rem;
      align-self: center; }
  #facundoPancaniH2 {
    display: none; } }

footer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-end;
  align-content: baseline;
  bottom: 0;
  position: absolute;
  max-width: 100%;
  width: 100vw; }
  footer li {
    list-style: none;
    padding-left: 1.5rem;
    display: inline;
    font-size: 1.5rem; }
  footer #footer1 {
    padding-left: 0; }
  footer i {
    margin-right: 4px; }
  footer ul {
    padding: 0 2rem; }

@media only screen and (max-width: 992px) {
  footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-content: baseline;
    position: absolute;
    bottom: 0;
    width: 100vw; }
    footer li {
      list-style: none;
      padding-left: 1.2rem;
      display: inline;
      font-size: 1.2em; }
    footer ul {
      padding-left: 0; }
    footer i {
      margin-right: 4px; } }

@media only screen and (max-width: 430px) {
  footer {
    bottom: 0;
    position: absolute;
    width: 100vw;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: baseline;
    padding-top: 1rem; }
    footer li {
      list-style: none;
      display: inline;
      font-size: 1rem;
      white-space: nowrap;
      padding-left: 0.5rem; }
    footer ul {
      padding: 0; }
    footer i {
      margin-right: 0.5rem; } }

.mainGaleria .row .card {
  align-items: center;
  background-color: aliceblue;
  margin: 1.5rem; }
  .mainGaleria .row .card hr {
    max-width: fit-content; }
  .mainGaleria .row .card img {
    margin: 1.25rem;
    width: 5rem;
    max-height: 5rem; }
  .mainGaleria .row .card .card-body {
    text-align: center; }
    .mainGaleria .row .card .card-body h5 {
      color: black;
      font-weight: bold; }
    .mainGaleria .row .card .card-body p {
      color: black; }

@media only screen and (max-width: 430px) {
  .mainGaleria .row .card {
    display: flex;
    background-color: aliceblue;
    margin: 1.5rem 2rem; }
    .mainGaleria .row .card img {
      margin: 1.25rem;
      width: 5rem;
      max-height: 5rem; }
    .mainGaleria .row .card h5 {
      color: black;
      font-weight: bold; }
    .mainGaleria .row .card p {
      color: black; } }

#mainConocimientos .row {
  padding-top: 2.5rem; }

#mainConocimientos h2 {
  text-align: center;
  font-size: medium;
  font-weight: bold; }

#mainConocimientos img {
  display: inline-block;
  min-width: 5rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto; }

#mainConocimientos .logosTop {
  max-width: 6rem;
  margin: auto;
  justify-content: center; }

#mainConocimientos .logosBot {
  max-width: 6rem;
  margin: auto;
  justify-content: center; }
  #mainConocimientos .logosBot img {
    min-width: 4rem; }

@media only screen and (max-width: 430px) {
  #mainConocimientos #LogosContainer {
    padding: 0; }
  #mainConocimientos .row {
    padding-top: 2rem; }
  #mainConocimientos h2 {
    text-align: center;
    font-size: medium;
    font-weight: bold; }
  #mainConocimientos .logosTop {
    max-width: 6rem;
    margin: auto;
    justify-content: center; }
    #mainConocimientos .logosTop img {
      display: inline-block;
      min-width: 2rem;
      margin-bottom: 1rem;
      margin-left: auto;
      margin-right: auto; }
  #mainConocimientos .logosBot {
    max-width: 5rem;
    margin: auto;
    justify-content: center; }
    #mainConocimientos .logosBot img {
      min-width: 2rem; } }

#mainTrabajos h1 {
  margin-bottom: 2rem; }
