#sectionContacto{
    background-color:white;
    border-radius: 1rem;
    input{
        font-family: inherit;
        font-size: 1rem;
        padding: 0.5em 1em;
        border-radius: 0.3em;
        border: none;
        border: 1px solid lightsteelblue;
    }
    form {
        #botonContacto:hover{
            background-color: #20c997;
        }
        #botonContacto{
            background-color:#0d6efd;
            color: white;
        }
    }
}

.botonWhatsApp img{
    width: 70px;
    position: fixed;
    bottom: 50px;
    right: 10px;
}
@media only screen and (max-width: 992px) {
    #sectionContacto{
        background-color:white;
        border-radius: 1rem;
        width: 75% !important;
    }
}