#mainConocimientos {
    .row {
        padding-top: 5em;
    }
    .logosTop {
        max-width: 6em;
        margin: 0 1em;
        justify-content: center;
        h2 {
            text-align: center;
            font-size: medium;
            font-weight: bold;
        }
        img {
            display: inline-block;
            min-width: 5em;
            margin-bottom: 1em;
            margin-left: auto;
            margin-right: auto;
        }
    }
    .logosBot {
        max-width: 6em;
        margin: 0 1em;
        justify-content: center;
        h2 {
            text-align: center;
            font-size: medium;
        }
        img {
            min-width: 5em;
            margin-bottom: 1em;
        }
    }   
}

@media only screen and (max-width: 426px) {
    #mainConocimientos {
        #LogosContainer{
            padding: 0;
        }
        .row {
            padding-top: 2em;
        }
        .logosTop {
            max-width: 6em;
            margin: 0 1em;
            justify-content: center;
            h2 {
                text-align: center;
                font-size: medium;
                font-weight: bold;
            }
            img {
                display: inline-block;
                min-width: 2em;
                margin-bottom: 1em;
                margin-left: auto;
                margin-right: auto;
            }
        }
        .logosBot {
            max-width: 5em;
            margin: 0 1em;
            justify-content: center;
            h2 {
                text-align: center;
                font-size: medium;
            }
            img {
                min-width: 3em;
                margin-bottom: 1em;
            }
        }   
    }
}

