footer {
  @include flex(flex, row, nowrap, flex-end, baseline);
  bottom: 0;
  position: absolute;
  max-width: 100%;
  width: 100vw;
  li {
    list-style: none;
    padding-left: 1.5rem;
    display: inline;
    font-size: 1.5rem;
  }
  #footer1 {
    padding-left: 0;
  }
  i {
    margin-right: 4px;
  }
  ul {
    padding: 0 2rem;
  }
}

@include mediaQuery(tablet) {
  footer {
    @include flex(flex, row, nowrap, flex-end, baseline);
    position: absolute;
    bottom: 0;
    width: 100vw;
    li {
      list-style: none;
      padding-left: 1.2rem;
      display: inline;
      font-size: 1.2em;
    }
    ul {
      padding-left: 0;
    }
    i {
      margin-right: 4px;
    }
  }
}
@include mediaQuery(mobile) {
  footer {
    bottom: 0;
    position: absolute;
    width: 100vw;
    @include flex(flex, row, nowrap, center, baseline);
    padding-top:1rem;
    li {
      list-style: none;
      display: inline;
      font-size: 1rem;
      white-space: nowrap;
      padding-left: 0.5rem;
    }
    ul {
      padding: 0;
    }
    i {
      margin-right: 0.5rem;
    }
  }
}
