
#mainIndex {
  padding-top: 10rem;
  .mainItemsDiv {
    padding-bottom: 10rem;
    #indexMainH1 {
      text-align: center;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      position: relative;
    }
    #quienSoy {
      text-align: center;
      font-weight: bold;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-top: 5rem;
      text-decoration: none;
      a:hover {
        color: map-get($colores, hover);
      }
      a {
        text-shadow: 3rem;
      }
    }
  }
}
@include mediaQuery(tablet) {
  #mainIndex {
    padding-top: 7.5rem;
  }
}
